/* General styles */
body {
  font-family: "Noto Sans Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}

a {
  text-decoration: underline;
  color: black;
}

main {
  margin-left: 3%;
  margin-right: 3%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navigation bar styles */
.navbar {
  display: flex;
  overflow: hidden;
  font-size: 15px;
  font-weight: bold;
  list-style-type: none;
  background-color: #006400;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Header styles */
.header h1 {
  text-align: center;
  font-size: 50px;
  margin: 20px;
  margin-top: 40px;
}

.header h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

/* Paragraph styles */
.paragraph h1 {
  font-size: 18px;
  font-style: bold;
  margin-bottom: -10px;
}

.paragraph h2 {
  font-size: 16px;
  font-style: bold;
}

.paragraph p {
  font-size: 15px;
  text-align: justify;
}

.paragraph pc {
  font-size: 15px;
  text-align: center;
}

.sup {
  vertical-align: super;
  font-size: smaller;
}

/* Reference style */
.references h1 {
  font-size: 12px;
  font-style: bold;
  color: gray;
  margin-bottom: -10px;
}

.references p {
  font-size: 12px;
  font-style: normal;
  color: grey;
}

/* Grid styles */
.container1a {
  position: relative;
  text-align: center;
  color: white;
}

.container2 {
  display: grid;
  align-items: top;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 10px;
}

.container3a {
  display: grid;
  align-items: center;
  grid-template-columns: 200px auto 200px;
  column-gap: 20px;
}

/* Image styles */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}